flask==2.0.1
flask-wtf==0.15.1
googledrivedownloader==0.4
pandas
gunicorn==20.1.0
itsdangerous==2.0.1
jinja2==3.0.1
numpy==1.21.2
pillow==8.1.0
requests==2.26.0
werkzeug==2.0.1
wtforms==2.3.3
mysql-connector-python